USE [master]
GO
/****** Object:  Database [QLQA]    Script Date: 12/26/2023 8:20:44 AM ******/
CREATE DATABASE [QLQA]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLQA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLQA]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MAHD] [nvarchar](10) NOT NULL,
	[MAQA] [nvarchar](30) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIABAN] [float] NOT NULL,
	[LOINHUAN] [float] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAQA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuDat]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDat](
	[MAPHIEUDAT] [nvarchar](10) NOT NULL,
	[MAQA] [nvarchar](30) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIABAN] [float] NOT NULL,
	[LOINHUAN] [float] NOT NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietPhieuDat] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC,
	[MAQA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MAHD] [nvarchar](10) NOT NULL,
	[MAKM] [nvarchar](10) NULL,
	[NGAYTAO] [date] NOT NULL,
	[MAKH] [nvarchar](10) NULL,
	[MANV] [nvarchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENKH] [nvarchar](30) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[EMAIL] [varchar](max) NULL,
	[DIEMTICHLUY] [int] NULL,
	[HANG] [nvarchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MAKM] [nvarchar](10) NOT NULL,
	[TENCTKM] [nvarchar](50) NOT NULL,
	[MUCGIAGIAM] [float] NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[SOLUOTSD] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuocQA]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuocQA](
	[MAKICHTHUOC] [nvarchar](50) NOT NULL,
	[TENKICHTHUOC] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KichThuocQA] PRIMARY KEY CLUSTERED 
(
	[MAKICHTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiQuanAo]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiQuanAo](
	[MALOAIQA] [nvarchar](10) NOT NULL,
	[TENLOAIQA] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LoaiQuanAo] PRIMARY KEY CLUSTERED 
(
	[MALOAIQA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](max) NOT NULL,
	[DIACHI] [nvarchar](max) NOT NULL,
	[SDT] [char](10) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](30) NOT NULL,
	[MATKHAU] [nvarchar](max) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[DIACHI] [nvarchar](max) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[VITRI] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDat]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDat](
	[MAPHIEUDAT] [nvarchar](10) NOT NULL,
	[MAKM] [nvarchar](10) NULL,
	[NGAYTAO] [date] NOT NULL,
	[NGAYNHAN] [date] NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[THANHTOAN] [bit] NOT NULL,
 CONSTRAINT [PK_PhieuDat] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanAo]    Script Date: 12/26/2023 8:20:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanAo](
	[MAQA] [nvarchar](30) NOT NULL,
	[TENQA] [nvarchar](50) NOT NULL,
	[MALOAIQA] [nvarchar](10) NOT NULL,
	[MAKICHTHUOC] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THUONGHIEU] [nvarchar](max) NOT NULL,
	[GIANHAP] [float] NOT NULL,
	[LOINHUAN] [float] NOT NULL,
	[MANCC] [nvarchar](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[HINHANH] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_QuanAo] PRIMARY KEY CLUSTERED 
(
	[MAQA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MAHD], [MAQA], [SOLUONG], [GIABAN], [LOINHUAN], [GHICHU]) VALUES (N'HD001', N'ADD-0001-S', 1, 448000, 5, NULL)
INSERT [dbo].[ChiTietHoaDon] ([MAHD], [MAQA], [SOLUONG], [GIABAN], [LOINHUAN], [GHICHU]) VALUES (N'HD001', N'LD-0001-S', 1, 108000, 5, NULL)
INSERT [dbo].[ChiTietHoaDon] ([MAHD], [MAQA], [SOLUONG], [GIABAN], [LOINHUAN], [GHICHU]) VALUES (N'HD001', N'QJX-0001-S', 3, 510000, 5, NULL)
GO
INSERT [dbo].[ChiTietPhieuDat] ([MAPHIEUDAT], [MAQA], [SOLUONG], [GIABAN], [LOINHUAN], [GHICHU]) VALUES (N'PD001', N'AKBR-0001-M', 1, 495000, 10, NULL)
INSERT [dbo].[ChiTietPhieuDat] ([MAPHIEUDAT], [MAQA], [SOLUONG], [GIABAN], [LOINHUAN], [GHICHU]) VALUES (N'PD001', N'ASMT-0001-M', 1, 375000, 10, NULL)
INSERT [dbo].[ChiTietPhieuDat] ([MAPHIEUDAT], [MAQA], [SOLUONG], [GIABAN], [LOINHUAN], [GHICHU]) VALUES (N'PD001', N'ASMT-0001-S', 1, 375000, 10, NULL)
GO
INSERT [dbo].[HoaDon] ([MAHD], [MAKM], [NGAYTAO], [MAKH], [MANV]) VALUES (N'HD001', NULL, CAST(N'2022-11-13' AS Date), N'KH001', N'NV001')
INSERT [dbo].[HoaDon] ([MAHD], [MAKM], [NGAYTAO], [MAKH], [MANV]) VALUES (N'HD002', NULL, CAST(N'2022-11-13' AS Date), N'KH011', N'NV001')
INSERT [dbo].[HoaDon] ([MAHD], [MAKM], [NGAYTAO], [MAKH], [MANV]) VALUES (N'HD003', NULL, CAST(N'2022-11-13' AS Date), NULL, N'NV002')
GO
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [EMAIL], [DIEMTICHLUY], [HANG]) VALUES (N'KH001', N'Nguyễn Văn Lâm', N'0909876543', N'lam@gmail.com', 462, N'Bạch Kim')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [EMAIL], [DIEMTICHLUY], [HANG]) VALUES (N'KH002', N'Trần Thị Bình', N'0987654321', N'binh@gmail.com', 295, N'Bạc')
INSERT [dbo].[KhachHang] ([MAKH], [TENKH], [SDT], [EMAIL], [DIEMTICHLUY], [HANG]) VALUES (N'KH003', N'Lê Quốc Cường', N'0912345678', N'cuong@gmail.com', 182, N'Đồng')
GO
INSERT [dbo].[KhuyenMai] ([MAKM], [TENCTKM], [MUCGIAGIAM], [NGAYBATDAU], [NGAYKETTHUC], [SOLUOTSD]) VALUES (N'KM001', N'Lễ Hội Siêu Sales', 5, CAST(N'2023-12-01' AS Date), CAST(N'2023-12-15' AS Date), 1503)
INSERT [dbo].[KhuyenMai] ([MAKM], [TENCTKM], [MUCGIAGIAM], [NGAYBATDAU], [NGAYKETTHUC], [SOLUOTSD]) VALUES (N'KM002', N'Tặng Quà Lưu Niệm', 0, CAST(N'2023-12-13' AS Date), CAST(N'2023-12-15' AS Date), 1600)
INSERT [dbo].[KhuyenMai] ([MAKM], [TENCTKM], [MUCGIAGIAM], [NGAYBATDAU], [NGAYKETTHUC], [SOLUOTSD]) VALUES (N'KM003', N'Ngày lễ Noen', 5, CAST(N'2023-12-01' AS Date), CAST(N'2023-12-30' AS Date), 1700)
GO
INSERT [dbo].[KichThuocQA] ([MAKICHTHUOC], [TENKICHTHUOC]) VALUES (N'KT001', N'S')
INSERT [dbo].[KichThuocQA] ([MAKICHTHUOC], [TENKICHTHUOC]) VALUES (N'KT002', N'M')
INSERT [dbo].[KichThuocQA] ([MAKICHTHUOC], [TENKICHTHUOC]) VALUES (N'KT003', N'L')
GO
INSERT [dbo].[LoaiQuanAo] ([MALOAIQA], [TENLOAIQA]) VALUES (N'LQA001', N'Áo Sơ Mi Nam')
INSERT [dbo].[LoaiQuanAo] ([MALOAIQA], [TENLOAIQA]) VALUES (N'LQA002', N'Áo Thun Nam')
INSERT [dbo].[LoaiQuanAo] ([MALOAIQA], [TENLOAIQA]) VALUES (N'LQA003', N'Áo Khoác Nam')
GO
INSERT [dbo].[NhaCungCap] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC001', N'Công ty Áo Sơ Mi Việt', N'123 Ðường A, Quận 1, TP.HCM', N'0994056711')
INSERT [dbo].[NhaCungCap] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC002', N'Cửa Hàng Quần Áo Nam Nam', N'456 Ðường B, Quận 2, TP.HCM', N'0900125199')
INSERT [dbo].[NhaCungCap] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC003', N'Thời Trang Nữ Xinh', N'789 Ðường C, Quận 3, TP.HCM', N'0978517550')
GO
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [MATKHAU], [GIOITINH], [CCCD], [DIACHI], [SDT], [TRANGTHAI], [VITRI]) VALUES (N'NV001', N'Lê Minh Bảo', N'1111', 1, N'051203000318', N'Gò Vấp, Hồ Chí Minh', N'0399405711', 1, N'Nhân Viên Bán Hàng')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [MATKHAU], [GIOITINH], [CCCD], [DIACHI], [SDT], [TRANGTHAI], [VITRI]) VALUES (N'NV002', N'Lê Hoàng Nam', N'1111', 1, N'512305157101', N'Gò Vấp, Hồ Chí Minh', N'0858484522', 1, N'Nhân Viên Quản Lý')
INSERT [dbo].[NhanVien] ([MANV], [TENNV], [MATKHAU], [GIOITINH], [CCCD], [DIACHI], [SDT], [TRANGTHAI], [VITRI]) VALUES (N'NV003', N'Trương Quốc Bảo', N'1111', 1, N'159348117131', N'Gò Vấp, Hồ Chí Minh', N'0762818855', 0, N'Nhân Viên Bán Hàng')
GO
INSERT [dbo].[PhieuDat] ([MAPHIEUDAT], [MAKM], [NGAYTAO], [NGAYNHAN], [MAKH], [MANV], [TRANGTHAI], [THANHTOAN]) VALUES (N'PD001', NULL, CAST(N'2023-12-09' AS Date), CAST(N'2023-12-13' AS Date), N'KH029', N'NV003', 1, 0)
INSERT [dbo].[PhieuDat] ([MAPHIEUDAT], [MAKM], [NGAYTAO], [NGAYNHAN], [MAKH], [MANV], [TRANGTHAI], [THANHTOAN]) VALUES (N'PD002', NULL, CAST(N'2023-12-09' AS Date), CAST(N'2023-12-13' AS Date), N'KH018', N'NV003', 1, 1)
INSERT [dbo].[PhieuDat] ([MAPHIEUDAT], [MAKM], [NGAYTAO], [NGAYNHAN], [MAKH], [MANV], [TRANGTHAI], [THANHTOAN]) VALUES (N'PD003', N'KM001', CAST(N'2023-12-12' AS Date), CAST(N'2023-12-14' AS Date), N'KH012', N'NV003', 1, 0)
GO
INSERT [dbo].[QuanAo] ([MAQA], [TENQA], [MALOAIQA], [MAKICHTHUOC], [SOLUONG], [THUONGHIEU], [GIANHAP], [LOINHUAN], [MANCC], [TRANGTHAI], [HINHANH]) VALUES (N'ADD-0001-M', N'Áo Dài Đỏ', N'LQA006', N'KT002', 0, N'Levent', 280000, 60, N'NCC006', 1, N'C:\QuanLyCuaHangBanQuanAo\OneDrive - Industrial University of HoChiMinh City\QuanLyCuaHangBanQuanAo\HinhAnh\AoDaiDo.jpg')
INSERT [dbo].[QuanAo] ([MAQA], [TENQA], [MALOAIQA], [MAKICHTHUOC], [SOLUONG], [THUONGHIEU], [GIANHAP], [LOINHUAN], [MANCC], [TRANGTHAI], [HINHANH]) VALUES (N'ADD-0001-S', N'Áo Dài Đỏ', N'LQA006', N'KT001', 0, N'Levent', 280000, 60, N'NCC006', 1, N'C:\QuanLyCuaHangBanQuanAo\OneDrive - Industrial University of HoChiMinh City\QuanLyCuaHangBanQuanAo\HinhAnh\AoDaiDo.jpg')
INSERT [dbo].[QuanAo] ([MAQA], [TENQA], [MALOAIQA], [MAKICHTHUOC], [SOLUONG], [THUONGHIEU], [GIANHAP], [LOINHUAN], [MANCC], [TRANGTHAI], [HINHANH]) VALUES (N'AKBR-0001-M', N'Áo Khoác Bóng Rổ', N'LQA003', N'KT002', 3, N'Levent', 450000, 10, N'NCC003', 1, N'C:\QuanLyCuaHangBanQuanAo\OneDrive - Industrial University of HoChiMinh City\QuanLyCuaHangBanQuanAo\HinhAnh\AoKhoacBongRo.jpg')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_QuanAo] FOREIGN KEY([MAQA])
REFERENCES [dbo].[QuanAo] ([MAQA])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_QuanAo]
GO
ALTER TABLE [dbo].[ChiTietPhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDat_PhieuDat] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PhieuDat] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[ChiTietPhieuDat] CHECK CONSTRAINT [FK_ChiTietPhieuDat_PhieuDat]
GO
ALTER TABLE [dbo].[ChiTietPhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDat_QuanAo] FOREIGN KEY([MAQA])
REFERENCES [dbo].[QuanAo] ([MAQA])
GO
ALTER TABLE [dbo].[ChiTietPhieuDat] CHECK CONSTRAINT [FK_ChiTietPhieuDat_QuanAo]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhuyenMai] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KhuyenMai] ([MAKM])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK_PhieuDat_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_KhuyenMai] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KhuyenMai] ([MAKM])
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK_PhieuDat_KhuyenMai]
GO
ALTER TABLE [dbo].[PhieuDat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDat_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[PhieuDat] CHECK CONSTRAINT [FK_PhieuDat_NhanVien]
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD  CONSTRAINT [FK_QuanAo_KichThuocQA] FOREIGN KEY([MAKICHTHUOC])
REFERENCES [dbo].[KichThuocQA] ([MAKICHTHUOC])
GO
ALTER TABLE [dbo].[QuanAo] CHECK CONSTRAINT [FK_QuanAo_KichThuocQA]
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD  CONSTRAINT [FK_QuanAo_LoaiQuanAo] FOREIGN KEY([MALOAIQA])
REFERENCES [dbo].[LoaiQuanAo] ([MALOAIQA])
GO
ALTER TABLE [dbo].[QuanAo] CHECK CONSTRAINT [FK_QuanAo_LoaiQuanAo]
GO
ALTER TABLE [dbo].[QuanAo]  WITH CHECK ADD  CONSTRAINT [FK_QuanAo_NhaCungCap] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NhaCungCap] ([MANCC])
GO
ALTER TABLE [dbo].[QuanAo] CHECK CONSTRAINT [FK_QuanAo_NhaCungCap]
GO
USE [master]
GO
